html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: hsl(var(--b2));
  color: hsl(var(--bc));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
