@tailwind base;
@tailwind components;
@tailwind utilities;

@import './zekai-themes.css';
@import './tailwind.css';

html,
body {
  background-color: hsl(var(--b2));
  color: hsl(var(--bc));
  min-height: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
