@plugin "daisyui/theme" {
  name: "Z-Dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(98% 0.003 247.858);
  --color-primary-content: oklch(14% 0.004 49.25);
  --color-secondary: oklch(64% 0.246 16.439);
  --color-secondary-content: oklch(97.807% 0.029 256.847);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(37% 0.034 259.733);
  --color-neutral-content: oklch(97.807% 0.029 256.847);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(42% 0.095 57.708);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(26% 0.079 36.259);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "Z-Light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(12% 0.042 264.695);
  --color-primary-content: oklch(98% 0 0);
  --color-secondary: oklch(63% 0.237 25.331);
  --color-secondary-content: oklch(97% 0.013 17.38);
  --color-accent: oklch(12% 0.042 264.695);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(27% 0.041 260.031);
  --color-neutral-content: oklch(95% 0 0);
  --color-info: oklch(12% 0.042 264.695);
  --color-info-content: oklch(98% 0 0);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(47% 0.114 61.907);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(93% 0.032 17.717);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 0;
}
